.solaire {
    width: 800px;
    margin: auto;
    text-align: center;
    &_title {
        font-size: 1.2em;
        font-weight: bold;
        padding-top: 1em;
    }
    &_content {
        padding: 1em;
        &_list {
            font-style: italic;
            padding-bottom: 1em;
        }
    }
}
.exp {
    font-size: 0.8em;
    vertical-align: super;
}
img {
    border: solid 2px silver;
}
.italic {
    font-style: italic;
}